body {
  .mar-pad-reset();
  min-width: @width-mobile;
  font-size: @font-size;
  line-height: @line-height;
  font-weight: @font-weight;
  font-family: @font-fam;
  color: @gray-font;
  background-color: @white;

  @media (min-width: @width-tablets) {
    font-size: 17px;
    line-height: 30px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.tab-user .main-nav__link:focus {
  color: @green;
}

.tab-user .main-nav__toggle:focus {
  outline: 2px solid @green;
  outline-offset: 3px;
}

.tab-user .contacts__mail:focus {
  outline: 2px solid @green;
  outline-offset: 4px;
}

.tab-user .slider__btn:focus {
  background-color: @gray;

  @media (min-width: @width-tablets) {
    outline: 2px solid #989898;
    outline-offset: -1px;
    background-color: transparent;
  }
}

.tab-user .btn:focus {
  color: @white;
  background-color: @gray-font;
  box-shadow: 0 0 0 3px #ffffff,
    0 0 0 6px @gray-font;
}

.tab-user .copyright__link:focus .copyright__logo {
  outline: 2px solid @green;
  outline-offset: 3px;
}

.tab-user .product__picture:focus {
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
  transform: scale(1.01);
}

.tab-user .product__tittle-link:focus {
  outline: 2px solid #989898;
  outline-offset: 3px;
}

.tab-user .product__buy-btn:focus {
  outline: 2px solid @green;
  outline-offset: 3px;
}

.tab-user .video-player__play-btn:focus {
  width: 121px;
  height: 92px;
}
